.css-ul-container {
  list-style-type: none;
}

.css-bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc2a0;
  height: 100vh;
}
.css-heading {
  font-size: 34px;
  font-family: 'roboto';
  font-weight: bold;
  color: red;
}
.css-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
